*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main_header{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: rgb(59, 91, 117);
}
.main_header a{
    text-decoration: none;
    color: white;
    
}
.main_header p{
    margin-left: 20px;
    font-size: 20px;
}
.logo{
    width: 50%;
    height: 100%;
}
.logo img{
    width: 250px;
    height: 200px;
    margin-top: -57px;
    margin-left: 30px;
}
.links{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 15%;
    width: 50%;
    height: 100%;
   
    color: white;
    text-align: center;
}

@media only screen and (max-width: 700px){
    .logo{
        display: none;
    }
    .main_header{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        height: 70px;
        width: 100%;
        background-color: rgb(59, 91, 117);
    }
    .links{
        margin-top: 20px;
        margin-right: 15%;
        width: 50%;
        height: 100%;
        
    }
}
@media only screen and (max-width: 400px){
    .logo{
        display: none;
    }
    .main_header{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        background-color: rgb(59, 91, 117);
    }
    .links{
        margin-top: 20px;
        margin-right: 15%;
        width: 50%;
        height: 100%;
        
    }
    .main_header p{
        margin-left: 12px;
        font-size: 18px;
    }
    
}