form{
    margin: 30px;
    background: linear-gradient(90deg, rgba(2,0,36,0.747304024148722) 0%, rgba(9,9,121,0.22452731092436973) 31%, rgba(5,75,186,0) 64%, rgba(0,146,255,0.643662567566089) 100%); width: 50%;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
form input{
    width: 80%;
    height: 40px;
    border: none;
    padding: 10px;
}
h2{
    font-family: 'Italiana', serif;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}
input[type=submit]{
    transition: 500ms;
    cursor: pointer;
    border: none;
    background-color: rgb(216, 218, 219);
}
input[type=submit]:hover{
    background-color: rgb(146, 145, 144);
    color: white;
}
a{
    text-decoration: none;
    margin: 20px !important;
    color: white !important; 
    font-size: 17px;
}
p{
    transition: 400ms;
}
p:hover{
    color: dimgrey;
}
@media only screen and (max-width: 500px){
    form{
        margin: 30px;
        background-color: rgb(230, 229, 229);
        width: 80%;
        height: 290px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    form input{
        width: 90%;
        height: 40px;
        border: none;
        padding: 10px;
    }
}